body {
    background-color: #277455;
    font-size: large;
}

hr {
    border-top: 1px solid #bbb;
}

h2 {
    text-align: center;
    font-size: larger;
}

.internalContainer {
    padding: 3em;
}

#container {
    background: white;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Metropolis', Metropolis, Arial, sans-serif;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#title {
    font-size: xx-large;
}

@font-face {
    font-family: Metropolis;
    src: url('fonts/metropolis-medium-webfont.woff');
}

@media screen and (max-width: 500px) {
    #container {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        box-shadow: white;
        transition: null
    }
    .internalContainer {
        padding: 1em;
    }
}

@media screen and (max-width: 1024px) {
    #container {
        margin-left: 5%;
        margin-right: 5%;
    }
    .internalContainer {
        padding: 2em;
    }
}

@media screen and (max-width: 1536px) {
    #container {
        margin-left: 10%;
        margin-right: 10%;
    }
    .internalContainer {
        padding: 2.5em;
    }
}